body{
    background-color: #F2F2F2;
}

.nota-fiscal{
    color: black;
    border: 1px solid white;
    padding: 40px;
    width: 500px;
    height: 500px;
    background-color: white;
    margin-top: 5%;
}

.title{
    font-size: 18px;
}

.informacoes{
    text-align: right;
    font-weight: bold;
    margin-top: 20%;
}

.nomeCliente{
    margin-top: 15%;
}