body{
    background-color: rgb(26, 25, 25);
}


form{
    background-color: #000000;
    padding: 40px;
    margin-top: 5%;
    border-radius: 10px;
}

.title-form{
    color: white;
    font-weight: bold;
    margin-left: 22%;
    padding-bottom: 5%;
    font-size: 20px;
}

label{
    color: white;

}

input[type="text"]{
    background-color: white;;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 385px;
    height: 25px;
    margin-top: 3px;
}

input[type="number"]{
    background-color: white;;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-top: 5px;
    width: 385px;
    height: 25px;
}


input[type="submit"]{
    background-color: rgb(2, 255, 2);
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

